</main>

    <footer class="bg-gray-800 text-gray-400 text-center py-4 text-sm mt-auto">
        &copy; 2026 Tim UAS Web Backend - Universitas Mikroskil. All Rights Reserved.
    </footer>
</body>
</html>